@page
@using Microsoft.AspNetCore.Identity
@using XE908.Areas.Identity.Data
@model XE908.Pages.Admin.Roles.UserRolesModel
@inject UserManager<XE908User> UserManager
@{
    ViewData["Title"] = "UserRoles";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>UserRoles</h1>
<partial name="Shared/_StatusMessage" for="StatusMessage"/>
<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>User</th>
            <th>Roles</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Users)
        {
            var belongsToRoles = await UserManager.GetRolesAsync(user);
            <tr>
                <td>@user</td>
                <td>
                    @for(int i =0;i<belongsToRoles.Count();i++)
                    {
                        @belongsToRoles[i]@(i < belongsToRoles.Count() -1 ?", " : "")
                    }
                </td>
                <td>
                    <form method="post">
                        <input type="hidden" value="@user.Id" asp-for="Input.ModifiedUserId" />
                        <input type="hidden" value="RemoveFromRole" asp-for="Input.RoleAction" />
                        <select asp-for="Input.ModifiedRoleName">
                            @foreach (var role in belongsToRoles)
                            {
                                <option value="@role">@role</option>
                            }
                        </select>
                        <button type="submit" class="btn btn-danger">RemoveRole</button>
                    </form>
                    <form method="post">
                        <input type="hidden" value="@user.Id" asp-for="Input.ModifiedUserId" />
                        <input type="hidden" value="AddToRole" asp-for="Input.RoleAction" />
                        <select asp-for="Input.ModifiedRoleName">
                            @foreach (var role in Model.Roles)
                            {
                                <option value="@role.Name">@role.Name</option>
                            }
                        </select>
                        <button type="submit" class="btn btn-primary">AddRole</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

